
body{
    background-image: url("");
    font-family: 'Open Sans', sans-serif;


}
.regform{
    width: 400px;
    background-color:white;
    margin: 100px auto;
    color:black;
    padding: 10px 20px 30px 20px;
    font-size: 20px;
    border-radius: 10px;;
}
 #heading{
    color:black;
    text-align: center;
    font-size: 28px;
    
}
.regform .textlabel{
    display: block;
    
}
.input input{
    width:100%;
    
    font-size:1em;
    border:.5px solid #63707E;
    border-radius: 6px;
    padding:14px 15px;
    box-sizing: border-box;
    margin:5px 0px 15px;
    color:black;


}
input:focus{
    background-color:;
}

button{
    background-color:black;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow:2px;
    width: 100%;
    
}
.radio input{
    transform: scale(1.5);
}
button:focus{
    background-color:white;
}
.regform .signin-up{
    font-size: 20px; 
    text-align: center;
}
